In [1]:
#imports

import pandas as pd
import numpy as np


#CLF tree imports
from sklearn import tree
import pydotplus 
from IPython.display import Image
from sklearn.metrics import accuracy_score

#knn imports
from sklearn.neighbors import KNeighborsClassifier
from sklearn.utils import shuffle

In [11]:
#pre proccessing for training data
dateColumns=['Number of frequent flyer miles earned per year', 'Percentage of time spent playing video games', 'Liters of ice cream consumed per week','Class'] 
dateTrainData = pd.read_csv('datingData_training.txt', delimiter=r"\s+", names=dateColumns)


#preprocess the data, change classes to 0 1 2

dateTrainData.replace('largeDoses', 0, inplace=True)
dateTrainData.replace('smallDoses', 1, inplace=True)
dateTrainData.replace('didntLike', 2, inplace=True)


dateTrainData

,Number of frequent flyer miles earned per year,Percentage of time spent playing video games,Liters of ice cream consumed per week,Class
0,40920,8.326976,0.953952,0
1,14488,7.153469,1.673904,1
2,26052,1.441871,0.805124,2
3,75136,13.147394,0.428964,2
4,38344,1.669788,0.134296,2
...,...,...,...,...
595,28631,7.661515,0.055981,0
596,71036,6.353608,1.645301,2
597,71142,10.442780,0.335870,2
598,37653,3.834509,1.346121,2
599,76839,10.998587,0.584555,2

In [13]:
#pre proccessing for training data
dateColumns=['Number of frequent flyer miles earned per year', 'Percentage of time spent playing video games', 'Liters of ice cream consumed per week','Class'] 
dateTestData = pd.read_csv('datingData_test.txt', delimiter=r"\s+", names=dateColumns)


#preprocess the data, change classes to 0 1 2

dateTestData.replace('largeDoses', 0, inplace=True)
dateTestData.replace('smallDoses', 1, inplace=True)
dateTestData.replace('didntLike', 2, inplace=True)


dateTestData

,Number of frequent flyer miles earned per year,Percentage of time spent playing video games,Liters of ice cream consumed per week,Class
0,9916,2.695935,1.512111,1
1,38889,3.356646,0.324230,2
2,39075,14.677836,0.793183,0
3,48071,1.551934,0.130902,2
4,7275,2.464739,0.223502,1
...,...,...,...,...
395,11145,3.410627,0.631838,1
396,68846,9.974715,0.669787,2
397,26575,10.650102,0.866627,0
398,48111,9.134528,0.728045,0
399,43757,7.882601,1.332446,0

In [15]:
#date data tree


repeats = 1
accuracies = []
for i in range(repeats):
    #set data
    Y = dateTrainData['Class']
    X = dateTrainData.drop(['Class'],axis=1)
    testY = dateTestData['Class']
    testX = dateTestData.drop(['Class'],axis=1)

    #make tree
    clf = tree.DecisionTreeClassifier(criterion='entropy',max_depth=3)
    clf = clf.fit(X, Y)
    
    # get accuracy
    predY = clf.predict(testX)
    testY = dateTestData['Class']
    acc = accuracy_score(testY, predY)
    accuracies.append(acc) 
    print('Accuracy on test number ', i+1, ' is %.2f' % (acc))

#avg = accuracies[0] +accuracies[1] +accuracies[2] +accuracies[3] +accuracies[4]
avg = 0
for a in accuracies:
    avg = a + avg
print('average accuracy is: ', avg/repeats)


#this is the code that prints out a tree thing
#dot_data = tree.export_graphviz(clf, feature_names=X.columns, class_names=['0','1','2'], filled=True, 
                                #out_file=None) 
#graph = pydotplus.graph_from_dot_data(dot_data) 
#Image(graph.create_png())

Accuracy on test number  1  is 0.97
average accuracy is:  0.975

In [18]:
#KNN algorithm for dating data

#number of runs
repeats = 1
accuracies = []
for i in range(repeats):
    
    Y = dateTrainData['Class']
    X = dateTrainData.drop(['Class'],axis=1)
    testY = dateTestData['Class']
    testX = dateTestData.drop(['Class'],axis=1)

   #make the KNN classifier
    knn = KNeighborsClassifier(n_neighbors=10, metric='minkowski', p=2)
    knn.fit(X, Y)

    # get accuracy
    predY = knn.predict(testX)
    acc = accuracy_score(testY, predY)
    accuracies.append(acc) 
    print('Accuracy on test number ', i+1, ' is %.2f' % (acc))


avg = 0
for a in accuracies:
    avg = a + avg
print('average accuracy is: ', avg/repeats)

Accuracy on test number  1  is 0.82
average accuracy is:  0.825